@import '../../base.scss';
.loginCard{
    width: 25rem;
    background-color: $black-secondary;
    color: $text-color;
    border-radius: 3%;
    box-shadow:1px 1px 8px $border-color;
    // height: auto;
    
    .cardBody{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .yIcon{
        font-size: 12rem;
        padding-bottom: 0%;
    }

    .title{
        font-size: 3rem;
        font-weight: 350;
        
        span{
            color: red;
        }
    }

    .cardText{
        font-size: 1rem;
        line-height: 1.5rem;
    }

}

.loginCard:hover{
    cursor: pointer;
    transform: translateY(-1.6px);
}

.loginBtn:hover{
    background-color: red;
    border-color: red;
    color: whitesmoke;
}

@media (max-width: $breakpoint-small){
    .loginCard{
        width: 18rem;
    }
}